@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-table {
  border-radius: 10px;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.ant-table-thead > tr > th {
  background: white;
}

.sidebar-preview .ant-card-cover {
  padding: 15px 15px 0 15px;
  border-radius: 7px;
}
