body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.show-on-hover-trigger .show-on-hover-target {
  visibility: hidden;
  display: none;
}

@media (pointer: fine) {
  .show-on-hover-trigger .show-on-hover-target {
    visibility: hidden;
    display: revert;
  }

  .show-on-hover-trigger:hover .show-on-hover-target {
    visibility: visible;
  }
}

@media (pointer: coarse) {
  .show-on-hover-trigger .show-on-hover-target {
    visibility: visible;
    display: revert;
  }

  .show-on-hover-trigger:hover .show-on-hover-target {
    visibility: visible;
  }
}

.app-scroller {
  --scrollbar-color-thumb: var(--color-zinc-900);
  --scrollbar-color-track: transparent;
  --scrollbar-width: auto;
  --scrollbar-width-legacy: 10px;
}

@supports (scrollbar-width: auto) {
  .app-scroller {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}

@supports selector(::-webkit-scrollbar) {
  .app-scroller::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
  }

  .app-scroller::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
  }

  .app-scroller::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }
}
