body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.shelf-h-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.show-on-hover-trigger .show-on-hover-target {
  visibility: hidden;
  display: none;
}

@media (pointer: fine) {
  .show-on-hover-trigger .show-on-hover-target {
    visibility: hidden;
    display: revert;
  }

  .show-on-hover-trigger:hover .show-on-hover-target {
    visibility: visible;
  }
}
